@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#map{
    height: 875px;
    width: 100%;
    display: block;

}

html,
body{
    background: #f5f6fa;
    height: 100%;
}

.budgeteat{
    background-color: lightblue;
    height: 50px;
    width: 100%;
    display: inline-block;
}
.budgeteat img{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin: auto 20px;
    background-color: lightblue;
}

.budgeteat h1{
    position: inherit;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.wrapper .userinput{
    background-color: beige;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    padding: 10px 0%;
    transition: all .05s ease;
}

body.active .wrapper .sidebar{
    left: 0px;
}

body.show .wrapper .menuInfo{
    right: 0px;
}



.wrapper .menuInfo{
    background-color: #c4cff8;
    position: fixed;
    width: 70%;
    height: 100%;
    top: 93px;
    right: -70%;
    display: block;
    font-size: 30px;
    transition: all 0.5s ease;
    text-align: center;

}

.wrapper .menuInfo .shoppingcart{
    background: rgb(174, 212, 248);
    width: 20%;
    height: 200%;
    display: block;
    position: fixed;
    border-right: 1px solid #1c5f96;
}

.menuItems
{
  float: right;
  width: 50%;
}

.shoppingcart
{
  float: left;
  width: 40%;
}

}

.wrapper .menuInfo .shoppingcart ul li{
    padding: 20px 30px;
}


.wrapper .menuInfo .menuItems ul li button{
    display: block;
    width: 84%;
    padding: 20px 30px;
    background-color: #0c7db1;
    color: rgb(241, 237, 237);
    right: 15%;
    font-size: 20px;
}


.wrapper .menuInfo .MenuNavButtons .Menuright{
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 35%;
    right: 1%;
    font-size: 35px;
}

.wrapper .menuInfo .MenuNavButtons .Menuleft{
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 35%;
    left: 15%;
    font-size: 35px;
}

.wrapper .menuInfo .MenuNavButtons .close{
    position: absolute;
    left: 54%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 6%;
    font-size: 35px;
}

.wrapper .menuInfo .menuItems ul li button:hover{
    color: #0c7db1;
    background:rgb(231, 203, 203);
    border-right: 2px solid (153, 200, 243);
}
.wrapper .sidebar{
    background: rgb(153, 200, 243);
    position: fixed;
    top: 93px;
    width: 30%;
    height: 100%;
    left: -30%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul li button{
    background-color: #0c7db1;
    display: block;
    padding: 20px 30px;
    width: 100%;
    border-bottom: 1px solid #1c5f96;
    color: rgb(241, 237, 237);
    font-size: 20px;
    position: relative;
    text-align: center;
}

.wrapper .sidebar ul li button .icon img{
    color: #dee4ec;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.wrapper .sidebar ul li button:hover{
    color: #0c7db1;
    background:rgb(231, 203, 203);
    border-right: 2px solid (153, 200, 243);
}

.wrapper .sidebar ul li button:hover .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li button:hover:before{
    display: block;
}

.wrapper .sidebar ul li .Resturaunt{
    display: block;
}

.wrapper .sidebar .NavButtons .left,
.wrapper .sidebar .NavButtons .right{
    background-color: #4CAF50; /* Green */
    border: none;
    position: relative;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 57px;
}

.wrapper .sidebar .NavButtons .right{
    float: right;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 5px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    width: 100%;
    font-size: 0.9em;
}

.cart-item {
    width: 15%;
    font-size: 0.8em;
}

.cart-price {
    width: 10%;
    font-size: 0.8em;
    color: #333;
}

.cart-quantity {
    width: 10%;
    font-size: 0.8em;
}

.cart-item-title {
    color: #333;
    font-size: 0.8em;
}

.cart-row
{
  font-size: 0.8em;
  word-spacing: 0.1em;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.section-header {
  font-size: 1em;
  text-decoration: underline;
}

.cart-quantity-input {
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: left;
    font-size: 0.8em;
    margin-right: 5px;
    width: 50px
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1em;
    color: black;
    margin-right: 10px;
}

.cart-total-price {
    color: #333;
    font-size: 1em;
}

.btn-purchase {
    margin: 10px auto 40px auto;
    font-size: 0.5em;
}

.shop-item {
    margin: 10px;
}

.shop-item-title {
    display: block;
    width: 100%;
    font-size: 0.7em;
    color: #333;
    margin-bottom: 10px;
}

.shop-item-price {
    flex-grow: 1;
    font-size: 0.8em;
    color: #333;
    text-align: right;
}
